<% include /partials/header %>

<style>
    .index-header {
        background:url(<%=recipe.image%>);
        background-size:cover;
        width:100%;
        height:100%;
    }
    .overlay {
        opacity: .8;
        background:none;
         text-shadow: 2px 2px 4px black;
         padding-top: 12%;
    }
    
    .fa {
        font-size: 30px;
    }
    
    .button.circular{
        background:transparent;
    }
    
    .button.circular:hover {
        color:orange;
        background:transparent;
    }
    
    .btn-row {
        margin-bottom: 40px;
    }
</style>

<div class="index-header">
    <div class="overlay">
    <%=recipe.title%>
    </div>
</div>

<div class="container">
    
     <div class="row text-center btn-row">
        <a href="/recipes">
             <button class="circular ui icon button pull-left">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i> 
             </button>
        </a>
        <a href="/recipes/<%=recipe._id %>/edit">
            <button class="circular ui icon button pull-right">
              <i class="fa fa-pencil" aria-hidden="true"></i>
             </button>
        </a>


    </div>

    
    <div class="row">
        <div class="col-md-4 well">
            <ul><h2 class="text-center">Nutrition</h2>
                <li>Calories: <%=recipe.calories%></li>
                <li>Carbs:  <%=recipe.carb%></li>
                <li>Protein:  <%=recipe.protein%></li>
                <li>Fat  <%=recipe.fat%></li>
            </ul>
        </div>
        <div class="col-md-4 well">
            <h2 class="text-center">Shopping List</h2>
        </div>
         <div class="col-md-4 well">
            <h2 class="text-center">Prep Time</h2>
        </div>
        <div class="col-md-12 well">
            <h2 class="text-center">Instructions</h2>
                <p>Kitsch polaroid mustache offal, williamsburg health goth pug sustainable cardigan vinyl messenger bag selfies organic. Man braid humblebrag semiotics selvage kinfolk distillery, mumblecore ennui. Scenester everyday carry butcher, kogi sriracha heirloom chartreuse humblebrag locavore health goth. Freegan pour-over organic fingerstache cliche migas. Organic swag post-ironic quinoa squid. Neutra chicharrones street art heirloom. Green juice wayfarers echo park swag, beard kickstarter sustainable messenger bag tilde craft beer.</p>
        </div>
    </div>
    
    <div class="row text-center">
        <form method="post" action="/recipes/<%=recipe._id%>?_method=DELETE">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>


<% include /partials/footer %>