<% include ../partials/header %>


<div class="jumbotron" style="margin-bottom:0px">
    <h1>Articles Board</h1>
    <h3>Write A Fitness-Related Article and Read What Others Have Written!</h3>
    <a href="/hq"><button class="ui huge inverted button" style="margin-top: 30px">Go to HQ</button></a>
    <a href="/hq"><button class="ui huge inverted button" style="margin-top: 30px">Explore the Bulletin Board</button></a>
</div>


    <div class="bulletin-navbar">
        <!--article dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle active" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <i class="fa fa-book bulletin-navbar-icons" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/bulletin-board/articles/all/new">Create New Article</a></li>
            <li><a href="/bulletin-board/articles">Just View Articles</a></li>
          </ul>
        </span>
        <!--recipe dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cutlery bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a class="dropdown-list-item" href="/bulletin-board/recipes/new">Create New Recipe</a></li>
            <li><a class="dropdown-list-item" href="/bulletin-board/recipes">Just View Recipes</a></li>
          </ul>
        </span>
        <!--question dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-question bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/bulletin-board/questions/new">Ask A Question</a></li>
            <li><a href="/bulletin-board/questions">Just View Questions</a></li>
          </ul>
        </span>
        <!--motivation dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           <i class="fa fa-rocket bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/bulletin-board/motivation/new">Post Motivation</a></li>
            <li><a href="/bulletin-board/motivation">Just View Motivation</a></li>
          </ul>
        </span>
    </div>

<div class="container well">
    
    <div class="ui divided items">
    
    <% article.forEach(function(article) { %>
    
          <div class="item">
            <div class="image">
              <img src="http://leanmuscleproject.com/wp-content/uploads/2015/11/barbell.jpg">
            </div>
            <div class="content">
                <a class="header"><%= article.title %> -- <small><%=article.flag%></small></a>
                <div class="meta">
                  <span><%= article.summary %></span>
                </div>
                <div class="description">
                    <p><%- article.body%></p>
                </div>
                <div class="extra">
                    <a href="/bulletin-board/articles/<%=article._id%>"><button class="ui mini orange button"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
                </div>
            </div>
  </div>
        
    <% }) %>
    


    </div>

</div>


<% include ../partials/footer %>