<% include ../partials/header %>

<div class="container">
    <div class="thumbnail content-container">
        <h2><%= article.title%></h2>
        <h5>Author: <%= article.author.username %></h5>
        <hr>
        <%-article.body%>
        <hr>
        <!--button row-->
                <div class="row button-row" style="margin-bottom:20px">
                    <a href="/bulletin-board/articles" class="btn btn-xs">
                       Go Back
                    </a>
                    <a class="btn btn-xs"href="/bulletin-board/articles/<%=article._id %>/edit">
                       Edit
                    </a>
                </div>
    </div>
     <!--everything for the favorite button-->
            <!--favorite row-->
            <span id="favorite-text">Add to Favorites</span> <a id="favorite-button" class="btn favorite"><i class="fa fa-heart" aria-hidden="true"></i></a>
            <!--favorite row logic-->
                <script>
                // checks to see if already favorited!
                <% currentUser.favorited.forEach(function(item) { %> 
                              <% if (item.title === article.title)  { %>
                                  $("#favorite-text").text("Favorited!");
                                  $("#favorite-text").css("color", "red");
                                  $(".fa-heart").css("color", "red");
                                  $("#favorite-button").addClass("disabled");
                              <% } %>
                          <% }) %>
                
                // adds to user.favorite.array
                    $("#favorite-button").on("click", function() { 
                        <%currentUser.favorited.push({id:article._id, title:article.title, summary:article.summary, image:article.image, type:article.type})%>
                        <%currentUser.save()%>
                         $("#favorite-text").text("Favorited!");
                         $("#favorite-text").css("color", "red");
                         $(".fa-heart").css("color", "red");
                         $("#favorite-button").addClass("disabled");
                    }) 
                </script>
    
</div>
    
    <!--comments section-->

        <div class="ui comments row btn-row text-left comment-box" style="width: 70%; min-width:300px; margin:0 auto">
          <h3 class="ui dividing header hq-titles">Comments</h3>


        <div class="row">
            <a href="/bulletin-board/articles/<%=article.id%>/comments/new"><button class="ui inverted big red button">Add Comment</button></a>
        </div>

        <div class="comment-container">
        
        <% article.comments.forEach(function(comment) { %>
        
                  <div class="comment">
                    <a class="avatar">
                      <img src="https://pbs.twimg.com/profile_images/633817680286384128/TMHEs83b.jpg">
                    </a>
                    <div class="content">
                      <span class="author"><%= comment.author.username%></span>
                      <div class="metadata">
                        <span class="date">Today</span>
                      </div>
                      <div class="text">
                        <%=comment.text%>
                      </div>
                      <div class="actions">
                        <a class="reply">Reply</a>
                      </div>
                    </div>
                  </div>
                  <hr>
        
            <!--<p><strong></strong> - </p>-->
        <% }) %>
        </div>

    </div>

</div>





<% include ../partials/footer %>
