<!--questions index page-->

<% include ../partials/header %>

<style>
    .row {
        padding-right:15px;
    }
    
    .overlay {
        padding-top:8%;
    }
</style>

<div class="jumbotron" style="margin-bottom:0px">
    <h1>Questions Board</h1>
    <h3>Post Your Questions and Answer Other's Here!</h3>
    <a class="btn btn-md"  href="/hq" style="margin-top: 10px">Go to HQ</a>
    <a class="btn btn-md"  href="/bulletin-board" style="margin-top: 10px">Explore the Bulletin Board</a>
</div>


    <div class="bulletin-navbar">
        <!--article dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <i class="fa fa-book bulletin-navbar-icons" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/articles/all/new">Create New Article</a></li>
            <li><a href="/bulletin-board/articles">Just View Articles</a></li>
          </ul>
        </span>
        <!--recipe dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cutlery bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a class="dropdown-list-item" href="/bulletin-board/recipes/new">Create New Recipe</a></li>
            <li><a class="dropdown-list-item" href="/bulletin-board/recipes">Just View Recipes</a></li>
          </ul>
        </span>
        <!--question dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle active" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-question bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/bulletin-board/questions/new">Ask A Question</a></li>
            <li><a href="/bulletin-board/questions">Just View Questions</a></li>
          </ul>
        </span>
        <!--motivation dropdown-->
        <span class="dropdown">
          <button class="ui big inverted button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           <i class="fa fa-rocket bulletin-navbar-icons" aria-hidden="true"></i>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/bulletin-board/motivation/new">Post Motivation</a></li>
            <li><a href="/bulletin-board/motivation">Just View Motivation</a></li>
          </ul>
        </span>
    </div>

<div class="container"
  <div class="row text-center">
  <!--get questions here!-->
  
  <% question.forEach(function(question) { %>
    <div class="col-md-4 col-sm-6 text-center">
      <div class="thumbnail">
        <div class="caption">
          <h4><%=question.title%></h4>
          <p class="text-right" style="padding-right:5%"><em><%=question.author.username%></em></p>
        </div>
        <div class="row text-right"   style="padding-right:5%; padding-bottom:20px">
          <!--prevent unauthorized users from editing comments-->
          <% if(currentUser.username == question.author.username) { %>
            <a class="btn btn-xs" href="/bulletin-board/questions/<%=question._id%>/edit">Edit</a>
            <form method="post" action="/bulletin-board/questions/<%=question._id%>?_method=DELETE" class="pull-right">
             <button class="btn btn-xs">Delete</button></a>
            </form>
             
            
          <% } %> 
          <a class="btn btn-xs" href="/bulletin-board/questions/<%=question._id%>">Help!</a>
        </div>
        
      </div>
    </div>
  <% }) %>
  
  </div>
</div>



<%include ../partials/footer%>